# DO NOT ADD SECRETS TO THIS FILE. This is a good place for defaults.
# If you want to add secrets use `.env.production.local` instead, which is automatically detected by `docker compose`.

#server
MONGODB_URI=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
IO_TOKEN_SECRET=

#client
WATCHPACK_POLLING=
NEXT_PUBLIC_GOOGLE_MAP_API=
NEXT_PUBLIC_API_ENDPOINT=